{% load wagtailcore_tags %}

{% if page.get_ancestors|length > 1 %}
    <nav role="navigation" aria-label="breadcrumb">
        <div class="nav-wrapper">
            <div class="col s12">
            {% for ancestor_page in page.get_ancestors %}
                {% if not ancestor_page.is_root %}
                    {% if ancestor_page.depth > 2 %}
                        <a class="breadcrumb" href="{% pageurl ancestor_page %}" title="{{ ancestor_page.title }}">{{ ancestor_page.title }}</a>
                    {% else %}
                        <a href="/" title="Home">Home</a>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <a class="breadcrumb">{{ page.title }}</a>
        </div>
        </div>
    </nav>
{% endif %}
