{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}

    <h1>{{ page.title }}</h1>

    <section class="listing">
        <form method="GET">
            <select name="category">
                <option value="">All</option>
                {% for category in categories %}
                    <option value="{{ category.0 }}" {% if request.GET.category == category.0|slugify %}selected="selected"{% endif %}>{{ category.1 }}</option>
                {% endfor %}
            </select>
        </form>

        {% if news %}
            <ul role="list">
                {% for news_item in news %}
                    {% include 'news/includes/news_list_item.html' %}
                {% endfor %}
            </ul>
            {% include "includes/pagination.html" %}
        {% else %}
            {# no items #}
        {% endif %}
    </section>
{% endblock %}
