{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static news_tags %}

{% block content %}
<div class="section no-pad-bot" id="index-banner">
    <h1 class="header center orange-text">{{ page.title }}</h1>

    <div class="row center">
        <h5 class="header col s12 light">{{ page.strapline }}</h5>
    </div>

    <h2>Next concert</h2>
    <a href="{% pageurl next_concert %}">{{ next_concert }}</a>
    {{ next_concert.start_date }}

    {% if next_other_event %}
    <h2>Next other event</h2>
    <a href="{% pageurl next_other_event %}">{{ next_other_event }}</a>
    {{ next_other_event.start_date }}
    {% endif %}

    {% if upcoming_events %}
    <h2>Upcoming events</h2>
    {% for event in upcoming_events %}
    <div class="event-listing">
        <a href="{% pageurl event %}">{{ event }}</a>
        {{ event.start_date }}
    </div>
    {% endfor %}
    {% endif %}

    {% latest_news %}

    {% include "includes/call_to_action.html" %}

    {% include "includes/share.html" %}
</div>

{% endblock %}
